<!--begin::Form-->
<form [formGroup]="changePasswordForm" autocomplete="off" class="kt-form kt-form--group-seperator-dashed">

	<kt-alert *ngIf="hasFormErrors" type="warn" [showCloseButton]="true" [duration]="10000"
		(close)="onAlertClose()">
		Oh snap! Password not match.
	</kt-alert>
	<div class="kt-form__section kt-form__section--first">
		<div class="form-group kt-form__group row">
			<div class="col-lg-8 kt-margin-bottom-20-mobile">
				<mat-form-field appearance="outline" class="mat-form-field-fluid">
					<mat-label>User name</mat-label>
					<input matInput id="username" readonly formControlName="username" />
				</mat-form-field>
			</div>
		</div>
		<div class="form-group kt-form__group row mb-0">
			<div class="col-lg-8 kt-margin-bottom-20-mobile">
				<mat-form-field appearance="outline" class="mat-form-field-fluid">
					<mat-label>Password</mat-label>
					<input matInput type="password" id="password" autocomplete="off" placeholder="Enter Password"
						formControlName="password" />
					<mat-error *ngIf="changePasswordForm.controls['password'].hasError('required')">Password is
						required</mat-error>
					<mat-error *ngIf="changePasswordForm.controls['password'].hasError('minlength')">Must be at
						least 8 characters!</mat-error>
					<mat-error *ngIf="changePasswordForm.controls['password'].hasError('hasNumber')">Must have
						at least 1 number!</mat-error>
					<mat-error *ngIf="changePasswordForm.controls['password'].hasError('hasCapitalCase')">Must
						contain at least 1 in Capital Case!</mat-error>
					<mat-error *ngIf="changePasswordForm.controls['password'].hasError('hasSmallCase')">Must
						contain at least 1 Letter in Small Case!</mat-error>
					<mat-error *ngIf="changePasswordForm.controls['password'].hasError('hasSpecialCharacters')">
						Must contain at least 1 Special Character!</mat-error>
					<mat-hint align="start">Please enter
						<strong>Password</strong>
					</mat-hint>
				</mat-form-field>
			</div>
		</div>
		<div class="form-group kt-form__group row">
			<div class="col-lg-8 kt-margin-bottom-20-mobile">
				<mat-form-field appearance="outline" class="mat-form-field-fluid">
					<mat-label>Confirm Password</mat-label>
					<input matInput type="password" id="confirmPassword" autocomplete="off"
						placeholder="Confirm password" formControlName="confirmPassword" />
					<mat-error *ngIf="changePasswordForm.controls['confirmPassword'].hasError('required')">
						Confirm password is required</mat-error>
					<mat-error *ngIf="changePasswordForm.controls['confirmPassword'].hasError('NoPassswordMatch')">
						Password do not match</mat-error>
					<mat-hint align="start">Please conirm
						<strong>Password</strong>
					</mat-hint>
				</mat-form-field>
			</div>
		</div>
	</div>
	<div class="kt-separator kt-separator--dashed"></div>
	<div class="kt-form__actions kt-form__actions--solid">
		<button type="button" [disabled]="changePasswordForm.invalid || (loadingSubject | async)" mat-raised-button
			color="primary" (click)="onSubmit()" matTooltip="Save changes">
			Change password
		</button>
	</div>
</form>
<!--end::Form-->