.kt-header-mobile .kt-header-mobile__logo {
    margin-left: 40% !important;
    font-size: 24px !important;
    font-weight: bold !important;
    color: #ffff;
}

.kt-header-mobile .kt-header-mobile__logo a{
    color: #ffff !important;
    text-decoration: none;
}

.kt-brand-dark .kt-header-mobile{
    background-color: var(--primary) !important
}