.mat-column-id,
.mat-column-Status {
    flex: 0 0 100px !important;
}

.mat-column-NextFollowupDate, .mat-column-mat-column-followupCreatedDate {
    flex: 0 0 180px !important;
}

.mat-column-followupCreatedBy {
    flex: 0 0 200px !important;
}