.kt-widget1 .kt-widget1__item {
    padding-top: 10px !important;
}

.kt-widget1 {
    padding: 0px !important;
}

.kt-widget1 .row .col-md-6{
    margin-bottom: 4px;
    border-bottom: 1px dashed silver;
}